body {
     background-color: #000;
     color: White;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif; 
}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  height: 475px;
}

li {
  color: #606161;
  font-weight:300;
  font-size: 13px;
  margin-left: 120px;
}

img {
  display: inline-block;
  margin: 2px 15px;
  width: 5%;
  height: auto;
}

#logo {
  font-weight: 800;
  display:block;
  font-size: 24px;
  margin-top:1px;
  margin-left: 40px;
  padding-top: 30px;
  padding-left: 40px;
}

#hook {
  text-align:center;
  display:block;
  margin-top: 150px;
  font-weight: 600;
  font-size: 24px;
}

#actionButton {
  display:block;
  text-align:center;
  margin: 0 auto;
  padding: 7px 10px;
  font-size:14px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #f9e42e;
}

#benefitSector {
  background-color: #f0efef;
  height: 250px;
}

#b {
  font-weight: 600;
  color: #033048;
  font-size: 20px;
  text-align: block;
  margin-top: 0;
  margin-left: 40px;
  padding-top: 40px;
  padding-left:60px;
}

#benefitExplain {
  display:block;
  width: 350px;
  font-weight:300;
  font-size: 13px;
  margin-left:100px;
  color: #606161;
}

#testimonial {
  background: url(../images/testimonial_bg.jpg);
  background-size: cover;
  height: 130px;
}

#goodWord {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 300px;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
}

#amanda {
  text-align: center;
  margin: 3px auto;
  font-weight: 600;
  font-size: 18px;
}

#suNow {
  display:block;
  background-color: #f9e42e;
  padding-top:4px;
  height: 50px;
}

#signUp {
  display:block;
  color: white;
  margin: 5px auto;
  padding: 7px 20px;
  font-size:12px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #033048;
}

#foot {
  display: block;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #f9e42e;
}

#face {
  height: 25px;
  width: 15px;
}

#twitter {
  height: 25px;
  width: 30px;
}

#tweet{
  display: block;
  text-align: center;
}

#footText {
  font-size: 9px;
  font-weight: 300;
  display: block;
  text-align: center;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

#container {
  width: 100%;
  margin: auto;
  height: 400px;
}